#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 10>;
        };

        Ins {
            bindings = <&kp INS>;
            key-positions = <20 21>;
        };

        Esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        Del {
            bindings = <&kp DEL>;
            key-positions = <8 9>;
        };

        Caps {
            bindings = <&kp CAPS>;
            key-positions = <22 23>;
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W           &kp E           &kp R      &kp T                                              &kp Y        &kp U  &kp I                &kp O              &lt 5 P
&mt LEFT_SHIFT A  &kp S           &kp D           &kp F      &kp G         &kp UNDERSCORE      &msc SCRL_UP     &kp H        &kp J  &kp K                &kp L              &mt RIGHT_SHIFT SEMI
&mt LCTRL Z       &mt LEFT_GUI X  &mt LEFT_ALT C  &kp V      &kp B         &kp BACKSLASH       &msc SCRL_DOWN   &kp N        &kp M  &mt RIGHT_ALT COMMA  &mt RIGHT_GUI DOT  &mt RCTRL SLASH
&kp LC(C)         &kp LC(X)       &kp LC(V)       &kp SPACE  &lt 3 DELETE  &lt 4 CAPSLOCK      &lt 2 BACKSPACE  &lt 1 ENTER                                                 &kp BACKSLASH
            >;
        };

        NUM-LEFT {
            bindings = <
&kp ESC  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp HOME                         &trans  &trans  &trans  &trans  &trans
&kp TAB  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp END   &kp MINUS      &trans  &trans  &trans  &trans  &trans  &trans
&trans   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans    &kp EQUAL      &trans  &trans  &trans  &trans  &trans  &trans
&trans   &trans        &trans        &trans        &trans    &trans         &trans  &trans                          &trans
            >;
        };

        FUNC-LEFT {
            bindings = <
&kp ESCAPE  &kp F1  &kp F2  &kp F3  &kp HOME                         &trans  &trans  &trans  &trans  &trans
&kp TAB     &kp F4  &kp F5  &kp F6  &kp END   &kp MINUS      &trans  &trans  &trans  &trans  &trans  &trans
&trans      &kp F7  &kp F8  &kp F9  &trans    &kp EQUAL      &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans  &trans  &trans  &trans    &trans         &trans  &trans                          &trans
            >;
        };

        ARROW_RIGHT {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &kp PAGE_UP    &kp HOME        &kp UP_ARROW    &kp END          &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans         &trans          &trans          &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                          &trans
            >;
        };

        layer_4 {
            bindings = <
&kp ESCAPE          &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN    &kp HOME                      &kp PSCRN  &kp PAUSE_BREAK  &kp INS    &kp DEL  &kp BACKSPACE
&mt LEFT_SHIFT TAB  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp END   &trans      &trans  &mkp MCLK  &mkp LCLK        &mkp RCLK  &trans   &mt RIGHT_SHIFT ENTER
&trans              &trans          &trans          &trans           &trans    &trans      &trans  &trans     &trans           &trans     &trans   &trans
&trans              &trans          &trans          &trans           &trans    &trans      &trans  &trans                                          &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp LCLK  &mkp RCLK  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };
    };
};
